body {
	background-color: black;
	color: lightgray;
}

.overall {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.background {
	background-color: red;
}

.box {
	width: 33%;
	height: fit-content;
}

.row {
	display: flex;
	justify-content: space-between;
}

#clock {
	max-height: 30vh;
	box-sizing: border-box;
}
